{% extends "rukz/rukz_base.html" %}
{% load static %}
{% block title %}
	{{ product.naim }}
{% endblock %}
{% block content %}
	<div id="sidebar">
		<h3>Каталог</h3>
		<ul>
			<li>
				<a href="{% url "rukz:all_product_list" %}"> Все товары </a>
				
			</li>
			<li class="selected">
				<a href="{% url "rukz:chel_product_list" %}"> Сумки в наличии  </a>
			</li>
			<li>
				<a href="{% url "rukz:ekat_product_list" %}"> Сумки на заказ  </a>
			</li>
			<li>
				<!--===== Pagination block ====-->
				<div class="pagination">
					<span class="step-links">
						{% if products.has_previous %}
							<a href="?page={{ products.previous_page_number }}">previous</a>
						{% endif %}

						<span class="current">
							Page {{ products.number }} of {{ products.paginator.num_pages }}.
						</span>

						{% if products.has_next %}
							<a href="?page={{ products.next_page_number }}">next</a>
						{% endif %}
					</span>
				</div>
				<!--=====End of Pagination==== -->			
			</li>
		</ul>
		<!--
		<ul>
			<li {% if not category %}class="selected"{% endif %}>
				<a href="{% url "shop:product_list" %}">Все товары</a>
			</li>
			{% for c in categories %}
			<li {% if category.slug == c.slug %}class="selected"{% endif%}>
				<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
			</li>
			{% endfor %}
		</ul> -->
	</div>

	<div id="main" class="product-list">
		<h3>
			{% if request.get_full_path == "/rukz/" %}Все товары
			{% elif request.get_full_path == "/rukz/chel/" %}Товары в наличии
			{% elif request.get_full_path == "/rukz/ekat" %}Товары на заказ {% endif %}
			
		</h3>

		{% for product in products %}
			<div class="item">
				<a href="{{ product.get_absolute_url }}">
					<img src="{{product.img_link}}">
				</a>
				<a href="{{ product.get_absolute_url }}">{{ product.naim }}</a><br>
				Цена {{ product.price }} руб.
				<!--{{ product.link }} << show link to supplier catalog (source) (not added yet) -->
				{% if product.other %}
					{{ product.other }}
				{% endif %}
			</div>
		{% endfor %}

	</div>
{% endblock %}